---
title: Elliot Dahl Designs
---

.page.full-vh
  .web
    .starmap
      #stars
      #stars2
      #stars3
  .weaver
    -# .arm-container{:style => "margin-left:60px;position:absolute;top:0;"}
    -#   .weaver-arm.arm-base
    -#     .weaver-arm.arm-1
    -#       .weaver-arm.arm-2
    -#         .weaver-arm.arm-3

    //Reverse the order to keep the needle always down
    .arm-container
      .weaver-flash
      .weaver-arm.arm-3
        .weaver-arm.arm-2
          .weaver-arm.arm-1
            .weaver-arm.arm-base

      
      
      
    
  
	
